* {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

table {
  border: 1px solid;
}

td {
  border: 1px solid;
  padding: 24px;
}

.main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.tables {
  display: flex;
  gap: 2rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.buttons {
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

button {
  font-size: large;
  font-family: monospace;
  padding: 12px;
  border-radius: 12px;
  border: none;
  background: grey;
  color: white;
  transition: 0.2s;
}

button:hover,
button:focus {
  transform: translateY(-3px);
  box-shadow: 0 3px black;
}

button:hover:active {
  transform: translateY(3px);
  box-shadow: none;
}

.start,
.start-new-game {
  background: white;
  border: 1px solid black;
  color: black;
  font-size: x-large;
}

.ship {
  background-color: gray;
}

.hit {
  background-color: black;
  border-radius: 50%;
  width: 30%;
  height: 30%;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

.ship-hit {
  position: absolute;
  background-color: grey;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.popup {
  position: absolute;
  font-size: xxx-large;
  top: 10%;
  font-family: monospace;
}
